.footer {
  display: flex;
  flex-direction: column;
  height: 200px;
  padding: 0px 80px;
  align-self: stretch;
  background-color: #373737;
  color: #9d9d9d;
  font-family: "inter", sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: auto;
}
