<footer class="footer">
  <div class="boxImg">
    <figure>
      <a href="/">
        <img src="/imgFooter/logFooter.svg" alt="logFooter" />
      </a>
    </figure>
  </div>
  <div class="boxCopyRigth">
    <small>
      <b>Copyright &copy; 2023 made by <a href="" style="color:#9D9D9D">OwlbyTech.</a></b>
    </small>
  </div>
</footer>
