<footer class="footer">
  <div class="box-img">
    <figure>
      <a href="/">
        <img src="/footer/logFooter.svg" alt="petBuddy" />
      </a>
    </figure>
  </div>
  <div class="box-copyRigth">
    <small>
      <b
        >Copyright &copy; 2023 made by <a href="" style="color:#9D9D9D"
          >OwlbyTech.</a
        ></b
      >
    </small>
  </div>
</footer>
