---
import Navigation from "./Navigation.astro";
---

<header class="header">
  <div class="boxLogo">
    <figure>
      <a href="/">
        <img src="/header/logoType.svg" alt="logoType" />
      </a>
    </figure>
  </div>
  <Navigation />
</header>
