<!-- The `href` change later -->
<div class="boxNavigation">
  <a href="/">Inicio</a>
  <a href="/">Caracteristicas</a>
  <a href="/">Preguntas Frecuentes</a>
  <a href="/">Contacto</a>
  <!-- add later -->
  <!-- <a href="/">Changelog</a> -->
</div>
<div class="boxGit">
  <a href="https://github.com/OwlbyTech/PetBuddy-homepage/tree/main">GitHub</a>
</div>
